.container {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  align-content: space-evenly;

  .login {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    min-height: 100vh;
    width: 420px;
    background: transparent;
    box-shadow: rgb(0 0 0 / 75%) 0px 0px 35px -5px;
    .cform{
      width: 100%;
      text-align: center;
      padding: 25px 25px;
      height: 100%;
      margin-top: auto;
      .header{
        font-size: 25px;
        font-weight: 700;
      }
      .body{
          margin-top: 50px;
        form{
            position: relative;
            width: 100%;
            padding: 10px 0px;
          button,a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: #0b283f;
            margin-bottom: 10px;

            span{
              margin-left: 5px;
            }
          }
        }
        .error{
          color:red;
          font-size: 12px;
          font-style: italic;
          margin-bottom: 15px;
        }
      }
    }
    .footer{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-top: auto;
      padding: 0px 0px 30px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .img {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    img {
      width: 70%;
      object-fit: cover;
    }
  }

  @media (max-width: 480px) {
    .login {
      width: 100%;
      .cform{
        padding: 25px;
      }
    }
    .img{
      display: none;
    }
  }

  @media (max-width: 850px) {
    .login {
      max-width: 400px;
      margin: 0 auto;
      .cform{
        padding: 25px;
      }
    }
    .img{
      display: none;
    }
  }
}

