.App {
   .body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    nav{
      padding: 0;
      li{
        border-bottom: solid 1px white;
      }
      li:hover{
        background: rgba(15, 51, 82, 0.87);
      }
    }
    /*li:not(:nth-last-child(2)){
      border: none;
    }*/
     .container{
       width: 100%;
       position: relative;
     }
  }

  main {
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: auto;
    padding: 0 0 30px;
    font-size: 12px;
    color: white;
  }
}

.page_navbar{
  .breadcrumb{
    padding: 0;
    background-color: transparent;
    border-radius: 0.25em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    li{
      position: relative;
      padding: 0;
      margin: 4px 4px 4px 0;
      display: inline-block;
      float: left;
      border-bottom: none !important;

      &::after{
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff !important;
        margin: 0;
      }
      a{
        &:hover{
          text-decoration: underline;
        }
      }
      >*{
        position: relative;
        padding: 0.4em 0.8em 0.4em 1.5em;
        color: #2c3f4c;
        background-color: #d8ecf7;
        border-color: #d8ecf7;
        display: inline-block;
        text-decoration: none;

        &::after{
          z-index: 2;
          border-left-color: inherit !important;
        }
      }

      &::after, >*::after{
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        height: 0;
        width: 0;
        border: 17px solid transparent;
        border-right-width: 0;
        border-left-width: 10px;
      }

      &:first-of-type{
        border-radius: 0.25em 0 0 0.25em;
      }
      &:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 0.25em 0.25em 0;
      }

      &:last-of-type::after, &:last-of-type>*::after{
        display: none;
      }

      &:last-of-type{
        margin-right: 0;
      }

      &::before{
        content: '';
        padding: 0;
      }
    }
    &::after{
      content: "";
      display: table;
      clear: both;
    }
  }
}

