.row {
  display: flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  flex-direction: row;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  h6{
    text-align: center;
  }
}
.card{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;

}

.tresposive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

td a{
  margin-right: 10px;
}

form{
  margin: 0 auto;
  max-width: 500px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-template-rows: auto 1fr auto;
  padding: 5px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
  @media (max-width: 850px) {
    height: auto;
  }
  div {
    width: 33%;
    @media (max-width: 850px) {
      width: 100%;
    }
  }

}
